.header{
    background-color: #1F2640;
    height: 10vh;
}
.header img{
    /* image 1 */
    position: absolute;
    width: 147px;
    height: 45px;
    left: 182px;
    top: 17px;
}
.localSelector{
    position: absolute;
    width: 147px;
    height: 35px;
    right: 20px;
    top: 17px;
    outline: none;
    border-radius: 5px;
}
@media only screen and (max-width: 728px) {
    .header img{
        /* image 1 */
        position: absolute;
        width: 147px;
        height: 45px;
        left: 12px;
        top: 12px;
    }
 }