.table-container{
    overflow-x: auto;
}
table{
    border-radius:10px ;
    border: 1px solid #F1F1F4;
    box-shadow:0px, 2px rgba(0, 0, 0, 0.1) ;
    width: 90%;
}
tr{
    height: 70px;
}
.cursor{
    cursor: pointer;
}
#row0{
    background-color: #F1F1F4;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

text-transform: uppercase;
color:#556789;
text-align: center;
}
.icon{
    height: 24px;
    width:18.84px;
}
span{
    margin-right: 20px;
}

@media only screen and (max-width: 1024px) {
    .table-container{
        margin-top:12px;
    }
}