.tabContainer{
    height: 38px;
    /* display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center; */
}
.tabContainer div{
    display: inline-block;
    margin:0 20px;
    cursor: pointer;
    color: #556789;
}
.active{
    border-bottom: 4px solid #83A515;
    color: #83A515;
    padding-bottom: 10px;
}
@media only screen and (max-width :780px){
    .tabContainer {
        width: 30%;
        display: flex;
    }
}