.tabContainer{
    height: 38px;
    display: flex;
    justify-content:space-between;
    align-items: center; 
}

.tabItem{
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.tabItem:hover {
    color: #8ead2f;
    border-bottom: 3px solid #8ead2f;
}
.active{
    border-bottom: 4px solid #83A515;
    color: #83A515;
    padding-bottom: 10px;
}
@media only screen and (max-width :780px){
    .tabContainer {
        width: 30%;
        display: flex;
    }
    .tabItem {
        font-size: 12px;
    }
}